body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000; /* Background color for the entire page (black) */
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #666;
    background-color: #000; /* Background color for the container (white) */
}

#gameCanvas {
    background-color: #000; /* Background color for the canvas (black) */
}